* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1bb74;
    height: 100vh;
}

.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px 10px;
    border: 2px solid gray;
    border-radius: 10px;
    /* margin: 200px 0px; */
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info img {
    width: 87px;
}

.src , .dest {
    display: flex;
    flex-direction: column;
}

select {
    border: none;
    width: 93px;
}

.amt {
    margin-top: 20px;
}

.amt input {
    padding: 5px;
    border-radius: 5px;
    border-color: gray;
    width: 217px;
    height: 25px;
}

.amt button {
    height: 35px;
}

.convAmt {
    margin-bottom: 10px;
    border: 2px solid #444423;
    border-radius: 5px;
    width: 97%;
    height: 40px;
    /* padding: 2px 2px; */
    /* align-self: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 3px;
}
